name: continuous-integration

on: [push, pull_request]

jobs:

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: pre-commit/action@v2.0.0
  
  test_generate_json:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./.make_ghpages/requirements.txt

    - name: Collect all setup info of computers/codes into a single JSON file.
      run: |
        python "${GITHUB_WORKSPACE}/.make_ghpages/generate_json.py"